{% extends 'base.html.twig' %}

{% block title %}S'enregister{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Formulaire D'inscription</h1>
        {{ form(form) }}
    </div
{% endblock %}